<div class="container">
<div class="profile-card">
  <div class="profile-header">
    <img src="../../assets/download.jpg" alt="Profile Picture" class="profile-picture">
    <div class="profile-title">
      <h5>{{ Teams[0].name }} {{ Teams[0].name }}</h5>
      <p class="designation">Web Developer</p>
    </div>
  </div>
  <div class="profile-details row">
    <p class="col-4"><strong>Email:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Address:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Government:</strong> {{ Teams[0].name }}</p>
  </div>
  <div class="profile-details row">
    <p class="col-4"><strong>Email:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Address:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Government:</strong> {{ Teams[0].name }}</p>
  </div>
  <div class="profile-details row">
    <p class="col-4"><strong>Email:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Address:</strong> {{ Teams[0].name }}</p>
    <p class="col-4"><strong>Government:</strong> {{ Teams[0].name }}</p>
  </div>
</div>
</div>
