<div class="mainCard mx-auto">
    <div class="card cardDiv" style="width: 25rem; background-color: rgba(203, 219, 248, 0.244);" *ngFor="let User of Users; let i = index" [attr.data-slide-to]="i" [class.active]="i === 0">
      <div class="card mb-3" class=" ">
        <!-- coursel -->
        <div [id]="'carouselExample-' + i" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- <div
              class="carousel-item"
              *ngFor="let photo of User?.photos; let j = index"
              [class.active]="j === activeSlideIndex[i]"
            >
              <img src="{{ photo }} " class="d-block w-100 imgg" alt="Slide {{ j + 1 }} " />
            </div>
          </div> -->
          <!-- <a
            [href]="'#carouselExample-' + i"
            class="carousel-control-prev"
            role="button"
            data-slide="prev"
            (click)="prevSlide(i); $event.preventDefault();"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            [href]="'#carouselExample-' + i"
            class="carousel-control-next"
            role="button"
            data-slide="next"
            (click)="nextSlide(i); $event.preventDefault();"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->
      </div>
      <div class="card-body">
        <h5 class="card-title">{{User.first_name}}</h5>
        <p class="card-text">{{User.first_name}}.</p>
      </div>
      <ul class="list-group list-group-light list-group-medium p-2">
        <li class="list-group-item px-4 py-2">ViewCount: {{User.first_name}}</li>
        <li class="list-group-item px-4 py-2">City: {{User.first_name}}</li>
        <li class="list-group-item px-4 py-2">Address: {{User.first_name}}</li>
        <li class="list-group-item px-4 py-2">Area: {{User.first_name}}</li>
        <li class="list-group-item px-4 py-2">BedRooms: {{User.first_name}}</li>
        <li class="list-group-item px-4 py-2">BathRooms: {{User.first_name}}</li>
      </ul>
    </div>
  </div>
  
  
  